.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}
p {
  font-family: 'Noto Serif', serif;
  font-size: 1.2em;
}

h1,h2,h3,h4{
  font-family: 'Bevan', cursive;
}
h1{
  font-size: 3em;
}
h2{
  font-size: 2.5em;
}
h3{
  font-size: 2em;

}
.navbar{
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
.navbar-nav > li > a {
  font-family: 'Noto Serif', serif;
  font-size: 0.9em;}
.nav-tabs > li > a{
  font-family: 'Bevan', cursive;
  font-size: 1.4em;
}

.navbar-default{
  border: none !important;
  background-color:#55ABED;
}

.navbar-default .navbar-nav > li > a{

}

.logTop{
  width: 100%;
  height: 400px;
  background: url(../images/log-obserbate400.png) no-repeat center 35% #55ABED;

}
.logTop p{
  color: #fff;
  padding-top: 14em;
}

.backColor{
  width: 100%;
  height: 10em;
  background-color: #55ABED;
}

.mt{
  margin-top: 2em;
}

.mb{
  margin-bottom: 2em;
}

.mtl{
  margin-top: 1em;
}

.fa-desktop{color:#4A4A4A;}
.fa-envelope{color:#EA5453;}
.fa-facebook-official{color:#4761A2;}
.fa-twitter{color:#53AAEA;}

/* Custom page footer */
.footer {
  padding-top: 1em;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 2em;
}

.container-narrow > hr {
  margin: 30px 0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }


}
