<div>
  <img class="img-responsive" src="images/log-obserbate400.png">
</div>

<div class="row">
  <h2>¡Debate Cero Corrupción!</h2>
  <p>El Círculo de Pensamiento Ambiental, convoca al país nacional y al suroccidente colombiano, proponiéndole esta herramienta de visibilización, formación e intervención y articulación de la ciudadanía en la lucha contra la corrupción en la gestión ambiental, generando espacios digitales, interactivos, audiovisuales y presenciales que emplacen a las autoridades legislativas, judiciales y del gobierno nacional, regional y local, y a los organismos de control, para indagarlos sobre sus acciones y compromisos en su lucha a este flagelo social, con énfasis en la inversión del gasto social prioritario en salud, educación, agua y saneamiento.</p>

</div>
<div class="row">
  <h2 class="text-center">Prioridades 2015 </h2>
  <h3 class="text-center">Gestión Ambiental</h3>



<!--  Prioridades inicio    -->
  <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class=" col-md-3"><a href="#agua" aria-controls="agua" role="tab" data-toggle="tab">Agua</a></li>
    <li role="presentation" class="col-md-3"><a href="#saneamiento" aria-controls="saneamiento" role="tab" data-toggle="tab">Saneamiento</a></li>
    <li role="presentation" class="col-md-3"><a href="#salud" aria-controls="salud" role="tab" data-toggle="tab">Salud</a></li>
    <li role="presentation" class="col-md-3"><a href="#educacion" aria-controls="educacion" role="tab" data-toggle="tab">Educación</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="agua">

    <p>Protección del recurso hídrico, infraestructura,</p>

    </div>
    <div role="tabpanel" class="tab-pane" id="saneamiento">

      <p></p>

    </div>
    <div role="tabpanel" class="tab-pane" id="salud">
      <p></p>
    </div>
    <div role="tabpanel" class="tab-pane" id="educacion">
      <p></p>
    </div>
  </div>

</div>
<!--  Prioridades final    -->


<!--  Procesos inicio    -->

<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">

      <div class="caption">
        <i class="fa fa-area-chart fa-5x center"></i>
        <h3>Investigación</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <i class="fa fa-users fa-5x"></i>
      <div class="caption">
        <h3>Participación</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Debate</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Compromisos</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>



<!--  Prioridades final    -->
</div>
