<div class="row">
  <h1 class="text-center mt">Prioridades 2015 </h1>
  <h3 class="text-center mt mb">Gestión Ambiental</h3>

<!--  Prioridades inicio    -->
  <div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs mt" role="tablist">
    <li role="presentation" class=" col-md-3"><a href="#agua" aria-controls="agua" role="tab" data-toggle="tab">Agua</a></li>
    <li role="presentation" class="col-md-3"><a href="#saneamiento" aria-controls="saneamiento" role="tab" data-toggle="tab">Saneamiento</a></li>
    <li role="presentation" class="col-md-3"><a href="#salud" aria-controls="salud" role="tab" data-toggle="tab">Salud</a></li>
    <li role="presentation" class="col-md-3"><a href="#educacion" aria-controls="educacion" role="tab" data-toggle="tab">Educación</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="agua">
      <img src="../images/pixabay.jpg" class="img-responsive img-rounded center-block imgpriori" alt="Responsive image"> </img>
      <h4>Protección del recurso hídrico, infraestructura</h4>
    </div>
    <div role="tabpanel" class="tab-pane" id="saneamiento">
      <img src="../images/riocali.jpg" class="img-responsive img-rounded center-block imgpriori" alt="Responsive image"> </img>
      <p></p>
    </div>
    <div role="tabpanel" class="tab-pane" id="salud">
      <img src="../images/medical.png" class="img-responsive img-rounded center-block imgpriori" alt="Responsive image"> </img>
      <p></p>
    </div>
    <div role="tabpanel" class="tab-pane" id="educacion">
      <img src="../images/escuelaruraluruguay.jpg" class="img-responsive center-block img-rounded imgpriori" alt="Responsive image"> </img>
      <p></p>
    </div>
  </div>
</div>
<!--  Prioridades final    -->
<!--  Procesos inicio    -->
<div class="row mt">
<h1 id="tituloproceso" class="text-center">Procesos</h1>
    <div class="thumbnail col-sm-6 col-md-5 col-md-offset-1 proceso">
      <div class="caption">
        <i class="fa fa-area-chart fa-5x  col-md-5 col-md-offset-1 " ></i>
        <i class="fa fa-bar-chart fa-5x col-md-5 col-md-offset-1"></i>
        <h3 class="text-center">Investigación</h3>
        <p>Creación de un centro de investigación sobre el impacto social, ambiental, político y económico de la corrupción en Colombia</p>

      </div>
    </div>
    <div class="thumbnail col-sm-6 col-md-5 col-md-offset-1 proceso">
      <i class="fa fa-comments fa-5x col-md-5 col-md-offset-1" ></i>
      <i class="fa fa-users fa-5x col-md-5 col-md-offset-1" ></i>
      <div class="caption">
        <h3 class="text-center">Participación</h3>
        <p>Promover la participación ciudadana y el desarrollo de una cultura civica de CERO TOLERANCIA contra la CORRUPCIÓN.</p>
      </div>
    </div>
    <div class="thumbnail col-sm-6 col-md-5 col-md-offset-1 proceso">
      <i class="fa fa-5x fa-microphone col-md-5 col-md-offset-1"></i>
      <i class="fa fa-bullhorn fa-5x col-md-5 col-md-offset-1" ></i>
      <div class="caption">
        <h3 class="text-center">Debate</h3>
      <p>Desarrollaremos espacios de discusión y análisis que permitan pensarse estrategias y acciones ciudadanas que combatan los actos de corrupción.</p>
    </div>
  </div>
    <div class="thumbnail col-sm-6 col-md-5 col-md-offset-1 proceso">
      <i class="fa fa-check-square fa-5x col-md-5 col-md-offset-1" ></i>
      <i class="fa fa-file-text fa-5x col-md-5 col-md-offset-1"></i>
      <div class="caption">
        <h3 class="text-center">Compromisos</h3>

        <p>Buscamos comprometer a los organismos del estado, en el cumplimiento de metas, estrategias y compromisos adquiridos con la ciudadanía en la lucha contra la corrupción</p>

      </div>
    </div>
  </div>


<!--  Prioridades final    -->

<!--<div class="backColor"></div>-->
<div class="row mt">
  <h2 class="text-center">¡Debate Cero Corrupción!</h2>
  <p class="mtl mb">El Círculo de Pensamiento Ambiental, convoca al país nacional y al suroccidente colombiano, proponiéndole esta herramienta de visibilización, formación e intervención y articulación de la ciudadanía en la lucha contra la corrupción en la gestión ambiental, generando espacios digitales, interactivos, audiovisuales y presenciales que emplacen a las autoridades legislativas, judiciales y del gobierno nacional, regional y local, y a los organismos de control, para indagarlos sobre sus acciones y compromisos en su lucha a este flagelo social, con énfasis en la inversión del gasto social prioritario en salud, educación, agua y saneamiento.</p>
  <p><i class="fa fa-3x fa-calendar"></i> 25 de Septiembre</p>
  <p><i class="fa fa-3x fa-map-marker"></i>Cali, Colombia</p>
</div>
